<ion-view view-title="Beer Details">
  <ion-content>
    <h1>Your Perfect Beer!</h1>
      <div class="list card">
         <div class="item item-body">
             <h1>{{beerDetails.nameDisplay}}</h1>
           <img class="image" src="{{beerDetails.labels.large}}">
           <h2>Description: </h2>{{beerDetails.description}}
             <div>Year: {{beerDetails.year}}</div>
             <div>IBU: {{beerDetails.ibu}}</div>
             <div>ABV: {{beerDetails.abv}}</div>
             <div>Organic: {{beerDetails.isOrganic}}</div>
             <div>Glassware: {{beerDetails.glass.name}}</div>
             <div>Style of Beer: {{beerDetails.style.name}}</div>
             <div>Description of Style: {{beerDetails.style.description}}</div>  
         </div>
      </div>
  </ion-content>
</ion-view>
